body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
  color: #333;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-right: 5px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.date-select {
  display: flex;
}

.date-select select {
  flex: 1;
  margin-right: 10px;
}

.vital-signs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.vital-signs-container label {
  flex: 1 1 20%;
  margin-bottom: 10px;
  color: #555;
  font-weight: bold;
}

.vital-signs-container input[type="number"] {
  flex: 1 1 70%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.vital-signs-container input[type="number"]::placeholder {
  color: #999;
}

.vital-signs-container input[type="number"]:focus {
  border-color: #4caf50;
  outline: none;
}

.vital-signs-container input[type="number"]:hover {
  border-color: #999;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.checklist-container {
  text-align: center;
  margin-top: 20px;
}

.checklist-title {
  margin-bottom: 10px;
}

.checkbox-group {
  display: inline-block;
  vertical-align: top;
  margin: 5px 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
